{%  if isAllowedToEditTheBulletin %}
    <div class="btn btn-light menu-button corporation-bulletin-edit-button">
        <span><img src="{{ asset('images/edit.png') }}" alt="edit bulletin"/></span>
        <span>Edit bulletin</span>
    </div>

    <div class="btn btn-light menu-button corporation-bulletin-cancel-button">
        <span><img src="{{ asset('images/edit.png') }}" alt="cancel edit"/></span>
        <span>Cancel editing</span>
    </div>
{% endif %}