body {
    background-color: #EEEEEE;
    font-size: 0.9rem;
}

.front-page {
    text-align: center;
}

.logo {
    margin: 10px 0 20px;
}

.powered-by {
    text-align: center;
    padding: 0 22px;
    margin: 50px 0;
}

.powered-by-image {
    margin-bottom: 10px;
    text-align: center;
}

.powered-by-name {
    font-size: 1.25rem;
    text-align: center;
}

.has-background {
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    text-decoration: underline;
}

.non-styled-link {
    color: #212529 !important;
    text-decoration: none;
}
.non-styled-link:hover {
    text-decoration: none;
}

.sidebar {
    border-right: 1px solid #eee;
}

.btn {
    font-size: 0.9rem;
}

.btn-group {
    width: 100%;
}

.page-title img {
    margin-right: 10px;
    width: 48px;
}

.page-title {
    font-size: 130%;
}

.btn-light {
    border: 1px dotted #ccc;
}

.editor-statusbar {
    padding: 6px 10px !important;
}

.modal-backdrop.show:not(:last-of-type) {
    opacity: 0 !important;
}

/* ---------- MENU STYLING ---------- */

.menu-button-static {
    width: 100%;
}

.menu-button, .menu-button-static {
    padding: 10px 10px;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: left;
    font-size: 0.9rem;
}

.menu-button img, .menu-button-static img {
    margin-right: 5px;
    width: 32px;
}

/* ---------- END MENU STYLING ---------- */

/* ---------- CHARACTER ---------- */

.character-image img {
    border-radius: 10%;
    margin-bottom: 10px;
    width: 100%;
}

.corporation-image img, .alliance-image img {
    padding: 5px;
    border-radius: 10%;
    width: 100%;
}

.character-info {
    margin-bottom: 15px;
}

.character-content {
    padding-top: 10px;
}

.character-menu {
    width: 90%;
}

.character-menu a {
    text-decoration: none;
}

/* ---------- END CHARACTER ---------- */

/* ---------- CORPORATION BULLETIN ---------- */

.corporation-bulletin td, .corporation-bulletin th {
    border: 1px solid #ddd;
    padding: 6px 12px;
    vertical-align: top;
}

.corporation-bulletin table em {
    font-size: 0.8rem;
}

.corporation-bulletin .tip {
    font-size: 0.8rem;
    margin-bottom: 15px;
}

.corporation-bulletin table {
    margin-bottom: 20px;
}

.corporation-bulletin img[alt="width25%"] {
    width: 25%;
}

.corporation-bulletin img[alt="width50%"] {
    width: 50%;
}

.corporation-bulletin img[alt="width75%"] {
    width: 75%;
}

.corporation-bulletin img[alt="width100%"] {
    width: 100%;
}

.corporation-bulletin h1:not(:first-child),
.corporation-bulletin h2:not(:first-child),
.corporation-bulletin h3:not(:first-child),
.corporation-bulletin h4:not(:first-child) {
    padding-top: 5px;
}

.corporation-bulletin h4:not(:first-child) {
    font-size: 1.2rem;
}

#bulletin-edit-editor {
    display: none;
}

.bulletin-edit-save {
    display: none;
    text-align: right;
    float: right;
    margin: 7px;
    clear: both;

    position: sticky;
    z-index: 99;
}

.corporation-bulletin-edit-button, .corporation-bulletin-cancel-button {
    text-align: right;
    float: right;
    margin: 2px;
    clear: both;

    position: sticky;
    z-index: 99;
}

.corporation-bulletin-cancel-button {
    display: none;
}

/* ---------- END CORPORATION BULLETIN ---------- */

/* ---------- DROP DOWN ---------- */

.dropdown-toggle, .dropdown-menu {
    width: 300px
}

.btn-group .dropdown-image {
    margin-right: 10px;
    width: 32px;
    height: 32px;
    border-radius: 10%;
}

.dropdown-toggle {
    padding-right: 50px
}

.dropdown-menu {
    margin: 2px 0;
    border: 1px dotted #ccc;
    width: 100%;
    font-size: 0.9rem;
    padding: 0;
}

.dropdown-menu li {
    padding: 0;
}

.dropdown-toggle .glyphicon {
    margin-left: 5px;
}

.dropdown-header {
    background: #ccc;
    font-size: 14px;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.btn-characters {
    margin-bottom: 10px;
    border: 1px dotted #ccc;
    text-align: left;
    padding: 10px;
}
.btn-characters:focus {
    box-shadow: none;
}

.dropdown-menu button, .dropdown-menu a {
    width: 100%;
    text-align: left;
    border-radius: 0;
    padding: 10px;
}

.show .btn-characters,
.btn-characters:hover,
.dropdown-menu button:hover,
.dropdown-menu a:hover {
    background-color: #e2e6ea;
}

.dropdown-menu button:hover,
.dropdown-menu a:hover {
    color: #212529;
    border-color: #dae0e5;
}

.dropdown-menu li {
    border-bottom: 1px solid #eee;
}

.dropdown-menu li:last-of-type {
    border-bottom: 0;
}

/* ---------- END DROP DOWN ---------- */