{% extends "character.html.twig" %}

{% block content %}
    <hr />
    <div class="page-title">
        <span><img src="{{ asset('images/killmail.png') }}" alt="character killboard title image"/></span>
        <span>Killboard</span>
    </div>
    <hr />


{% endblock %}
